
*.xcuserstate
MyBestCoffee/MyBestCoffee.xcodeproj/project.xcworkspace/xcuserdata/pedro.xcuserdatad/UserInterfaceState.xcuserstate
MyBestCoffee/MyBestCoffee.xcodeproj/project.xcworkspace/xcuserdata/pedro.xcuserdatad/UserInterfaceState.xcuserstate
